<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.institution.dao.AccountMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.Account">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institution_id" property="institutionId" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="account_code" property="accountCode" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="settle_balance" property="settleBalance" jdbcType="DECIMAL"/>
        <result column="clear_balance" property="clearBalance" jdbcType="DECIMAL"/>
        <result column="freeze_balance" property="freezeBalance" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="SecondResultMap" type="com.payment.common.vo.AccountListVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institutionCode" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="institutionName" property="institutionName" jdbcType="VARCHAR"/>
        <result column="accountCode" property="accountCode" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="settleBalance" property="settleBalance" jdbcType="DECIMAL"/>
        <result column="clearBalance" property="clearBalance" jdbcType="DECIMAL"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
        <result column="freezeBalance" property="freezeBalance" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="min_settle_amount" property="minSettleAmount" jdbcType="DECIMAL"/>
        <result column="settle_switch" property="settleSwitch" jdbcType="BIT"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ThirdResultMap" type="com.payment.common.vo.AgentAccountListVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institutionCode" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="institutionName" property="institutionName" jdbcType="VARCHAR"/>
        <result column="accountCode" property="accountCode" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="balance" property="balance" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, institution_id, institution_name,account_code, currency, settle_balance, clear_balance,
    freeze_balance, create_time, update_time, creator, modifier, remark, enabled
    </sql>

    <select id="pageFindAccount" resultMap="SecondResultMap" resultType="com.payment.common.dto.AccountSearchDTO">
        select
        a.id as id ,a.institution_name as institutionName,a.institution_id as institutionCode,a.account_code as
        accountCode,a.currency as currency,a.settle_balance as settleBalance,a.clear_balance +
        a.settle_balance -
        a.freeze_balance as balance,a.freeze_balance as freezeBalance,
        a.clear_balance as clearBalance,a.create_time as create_time,a.update_time as
        updateTime,a.creator,a.modifier,a.remark,s.min_settle_amount as min_settle_amount,s.settle_switch as
        settle_switch
        from account a left join settle_control s on a.id = s.account_id
        <where>
            <if test="institutionCode!=null and institutionCode != ''">
                and a.institution_id=#{institutionCode}
            </if>
            <if test="accountId!=null and accountId != ''">
                and a.id=#{accountId}
            </if>
            <if test="institutionName != null and institutionName != ''">
                and a.institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="currency!=null and currency != ''">
                and a.currency=#{currency}
            </if>
        </where>
        order by a.create_time desc
    </select>


    <select id="exportAccountList" resultMap="SecondResultMap"
            resultType="com.payment.common.dto.AccountSearchDTO">
        select
        a.id as id ,a.institution_name as institutionName,a.institution_id as institutionCode,a.account_code as
        accountCode,
        a.currency as currency,a.settle_balance - a.freeze_balance as settleBalance,a.clear_balance + a.settle_balance -
        a.freeze_balance as balance,a.freeze_balance as freezeBalance,
        a.clear_balance as clearBalance,a.create_time as createTime,a.update_time as
        updateTime,a.creator,a.modifier,a.remark
        from account a
        <where>
            <if test="institutionCode!=null and institutionCode != ''">
                and a.institution_id=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                and a.institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="pageFindAgentAccount" resultMap="ThirdResultMap">
        select
        a.id as id ,
        a.institution_name as institutionName,
        a.institution_id as institutionCode,
        a.account_code as accountCode,
        a.currency as currency,
        a.settle_balance - a.freeze_balance as balance,
        a.create_time as create_time,
        a.update_time as updateTime,
        a.creator,
        a.modifier,
        a.remark
        from account a
        <where>
            <if test="accountId!=null and accountId != ''">
                and a.id=#{accountId}
            </if>
            <if test="institutionName != null and institutionName != ''">
                and a.institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="currency!=null and currency != ''">
                and a.currency=#{currency}
            </if>
            and a.institution_id=#{institutionCode}
            and a.enabled = 1
        </where>
        order by create_time desc
    </select>

    <select id="exportAgent" resultMap="ThirdResultMap">
        select
        a.id as id ,
        a.institution_name as institutionName,
        a.institution_id as institutionCode,
        a.account_code as accountCode,
        a.currency as currency,
        a.settle_balance - a.freeze_balance as balance,
        a.create_time as create_time,
        a.update_time as updateTime,
        a.creator,
        a.modifier,
        a.remark
        from account a
        <where>
            <if test="accountId!=null and accountId != ''">
                and a.id=#{accountId}
            </if>
            <if test="institutionName != null and institutionName != ''">
                and a.institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="currency!=null and currency != ''">
                and a.currency=#{currency}
            </if>
            and a.institution_id=#{institutionCode}
            and a.enabled = 1
        </where>
        order by create_time desc
    </select>


</mapper>
