<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.institution.dao.ChannelBankMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.ChannelBank">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="channel_id" property="channelId" jdbcType="VARCHAR"/>
        <result column="bank_id" property="bankId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>
    <resultMap id="ChaBankRelVOMap" type="com.payment.common.vo.ChaBankRelVO">
        <result column="chabankId" property="chabankId" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, channel_id, bank_id, create_time, update_time, creator, modifier, remark, enabled
    </sql>

    <select id="getInfoByCIdAndBId" resultMap="ChaBankRelVOMap">
        select cb.id as chabankId , ch.sort as sort from channel_bank cb ,channel ch
        where cb.channel_id = #{channelId} and cb.bank_id = #{bankId} and cb.channel_id = ch.id
    </select>
    <select id="selectByChannelId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from channel_bank where channel_id = #{channelId}
    </select>

</mapper>
