<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.institution.dao.ChannelMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.Channel">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="pay_code" property="payCode" jdbcType="VARCHAR"/>
        <result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
        <result column="channel_en_name" property="channelEnName" jdbcType="VARCHAR"/>
        <result column="channel_cn_name" property="channelCnName" jdbcType="VARCHAR"/>
        <result column="channel_img" property="channelImg" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="country_type" property="countryType" jdbcType="TINYINT"/>
        <result column="trans_type" property="transType" jdbcType="TINYINT"/>
        <result column="channel_connect_method" property="channelConnectMethod" jdbcType="TINYINT"/>
        <result column="pay_type" property="payType" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="settle_cycle" property="settleCycle" jdbcType="VARCHAR"/>
        <result column="issuer_id" property="issuerId" jdbcType="VARCHAR"/>
        <result column="channel_url" property="channelUrl" jdbcType="VARCHAR"/>
        <result column="refund_url" property="refundUrl" jdbcType="VARCHAR"/>
        <result column="channel_single_select_url" property="channelSingleSelectUrl" jdbcType="VARCHAR"/>
        <result column="channel_batch_select_url" property="channelBatchSelectUrl" jdbcType="VARCHAR"/>
        <result column="limit_min_amount" property="limitMinAmount" jdbcType="DECIMAL"/>
        <result column="limit_max_amount" property="limitMaxAmount" jdbcType="DECIMAL"/>
        <result column="channel_rate" property="channelRate" jdbcType="DECIMAL"/>
        <result column="channel_fee" property="channelFee" jdbcType="DECIMAL"/>
        <result column="channel_min_rate" property="channelMinRate" jdbcType="DECIMAL"/>
        <result column="channel_max_rate" property="channelMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_fee_type" property="channelFeeType" jdbcType="VARCHAR"/>
        <result column="channel_gateway_rate" property="channelGatewayRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_min_rate" property="channelGatewayMinRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_max_rate" property="channelGatewayMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_fee" property="channelGatewayFee" jdbcType="DECIMAL"/>
        <result column="channel_gateway_fee_type" property="channelGatewayFeeType" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="channel_gateway_charge" property="channelGatewayCharge" jdbcType="TINYINT"/>
        <result column="channel_gateway_status" property="channelGatewayStatus" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="support_refund_state" property="supportRefundState" jdbcType="BIT"/>
        <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR"/>
        <result column="md5_key_str" property="md5KeyStr" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="SecondResultMap" type="com.payment.common.vo.ProductChannelVO">
        <result column="productId" property="productId" jdbcType="VARCHAR"/>
        <result column="channelId" property="channelId" jdbcType="VARCHAR"/>
        <result column="institutionCode" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="institutionName" property="institutionName" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="issuerId" property="issuerId" jdbcType="VARCHAR"/>
        <result column="payType" property="payType" jdbcType="VARCHAR"/>
        <result column="channelName" property="channelName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ChanProVOMap" type="com.payment.common.vo.ChanProVO">
        <result column="channelCode" property="channelCode" jdbcType="VARCHAR"/>
        <result column="payCode" property="payCode" jdbcType="VARCHAR"/>
        <result column="channelEnName" property="channelEnName" jdbcType="VARCHAR"/>
        <result column="channelCnName" property="channelCnName" jdbcType="VARCHAR"/>
        <result column="channelImg" property="channelImg" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="countryType" property="countryType" jdbcType="TINYINT"/>
        <result column="channelConnectMethod" property="channelConnectMethod" jdbcType="TINYINT"/>
        <result column="transType" property="transType" jdbcType="TINYINT"/>
        <result column="payType" property="payType" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="issuerId" property="issuerId" jdbcType="VARCHAR"/>
        <result column="settleCycle" property="settleCycle" jdbcType="VARCHAR"/>
        <result column="channelUrl" property="channelUrl" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="refundUrl" property="refundUrl" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="supportRefundState" property="supportRefundState" jdbcType="BIT"/>
        <result column="channel_merchant_id" property="channelMerchantId" jdbcType="VARCHAR"/>
        <result column="md5_key_str" property="md5KeyStr" jdbcType="VARCHAR"/>
        <result column="channel_rate" property="channelRate" jdbcType="DECIMAL"/>
        <result column="channel_min_rate" property="channelMinRate" jdbcType="DECIMAL"/>
        <result column="channel_max_rate" property="channelMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_fee_type" property="channelFeeType" jdbcType="VARCHAR"/>
        <result column="limitMinAmount" property="limitMinAmount" jdbcType="DECIMAL"/>
        <result column="limitMaxAmount" property="limitMaxAmount" jdbcType="DECIMAL"/>
        <result column="channel_gateway_rate" property="channelGatewayRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_min_rate" property="channelGatewayMinRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_max_rate" property="channelGatewayMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_gateway_fee" property="channelGatewayFee" jdbcType="DECIMAL"/>
        <result column="channel_gateway_fee_type" property="channelGatewayFeeType" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="channel_gateway_charge" property="channelGatewayCharge" jdbcType="TINYINT"/>
        <result column="channel_gateway_status" property="channelGatewayStatus" jdbcType="TINYINT"/>

        <collection javaType="list" property="proVOS" resultMap="ProVOMap"/>
        <collection javaType="list" property="bankVOS" resultMap="BankVOMap"/>
    </resultMap>
    <resultMap id="ProVOMap" type="com.payment.common.vo.ProVO">
        <result column="productId" property="productId" jdbcType="VARCHAR"/>
        <result column="productCode" property="productCode" jdbcType="VARCHAR"/>
        <result column="p_transType" property="transType" jdbcType="TINYINT"/>
        <result column="p_payType" property="payType" jdbcType="VARCHAR"/>
        <result column="p_currency" property="currency" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BankVOMap" type="com.payment.common.vo.BankVO">
        <result column="bankID" property="bankID" jdbcType="VARCHAR"/>
        <result column="bankCode" property="bankCode" jdbcType="VARCHAR"/>
        <result column="bankName" property="bankName" jdbcType="VARCHAR"/>
        <result column="bankCountry" property="bankCountry" jdbcType="VARCHAR"/>
        <result column="bankCurrency" property="bankCurrency" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="ExportChannelMap" type="com.payment.common.vo.ChannelExportVO">
        <result column="channelCode" property="channelCode" jdbcType="VARCHAR"/>
        <result column="channelCnName" property="channelCnName" jdbcType="VARCHAR"/>
        <result column="payType" property="payType" jdbcType="VARCHAR"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="channelEnName" property="channelEnName" jdbcType="VARCHAR"/>
        <result column="payCode" property="payCode" jdbcType="VARCHAR"/>
        <result column="payCode" property="payCode" jdbcType="VARCHAR"/>
        <result column="settleCycle" property="settleCycle" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="channel_rate" property="channelRate" jdbcType="DECIMAL"/>
        <result column="limit_min_amount" property="limitMinAmount" jdbcType="DECIMAL"/>
        <result column="limit_max_amount" property="limitMaxAmount" jdbcType="DECIMAL"/>
        <result column="channel_min_rate" property="channelMinRate" jdbcType="DECIMAL"/>
        <result column="channel_max_rate" property="channelMaxRate" jdbcType="DECIMAL"/>
        <result column="channel_fee_type" property="channelFeeType" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="support_refund_state" property="supportRefundState" jdbcType="BIT"/>
        <result column="channelConnectMethod" property="channelConnectMethod" jdbcType="TINYINT"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="settleCycle" property="settleCycle" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, channel_code, channel_en_name, channel_cn_name, channel_img, country, country_type, trans_type, pay_type,
    currency, settle_cycle, channel_url,channel_single_select_url, channel_batch_select_url,limit_min_amount,limit_max_amount, create_time,
    update_time, creator, issuer_id,channel_connect_method,channel_rate,channel_fee,channel_fee_type,channel_min_rate,channel_max_rate,
    channel_gateway_rate,channel_gateway_min_rate,pay_code,channel_merchant_id,md5_key_str,
    channel_gateway_max_rate,channel_gateway_fee,channel_gateway_fee_type,channel_getway_charge,channel_getway_status,
    modifier, remark, enabled,support_refund_state,refund_url,sort
    </sql>

    <select id="pageFindChannel" resultMap="BaseResultMap">
        select
        ch.id, ch.channel_code, ch.channel_en_name, ch.channel_cn_name, ch.channel_img, ch.country, ch.country_type,
        ch.trans_type, d.name as pay_type,
        ch.currency, ch.settle_cycle, ch.channel_url,ch.channel_single_select_url,
        ch.channel_batch_select_url,ch.limit_min_amount,ch.limit_max_amount, ch.create_time,
        ch.update_time, ch.creator,ch.sort,
        ch.issuer_id,ch.channel_connect_method,ch.channel_rate,ch.channel_fee,ch.channel_fee_type,channel_max_rate,ch.channel_min_rate,
        ch.channel_gateway_rate,ch.channel_gateway_fee,ch.channel_gateway_fee_type,ch.channel_gateway_charge,ch.channel_gateway_status,ch.channel_gateway_min_rate,
        ch.channel_gateway_max_rate,ch.modifier, ch.remark, ch.enabled,ch.support_refund_state,ch.refund_url,d.enabled
        as d_enabled,ch.pay_code
        from channel ch left join dictionary d on d.code = ch.pay_type and d.language=#{language}
        <where>
            <if test="channelCode!=null and channelCode != ''">
                and ch.channel_code=#{channelCode}
            </if>
            <if test="channelEnName != null and channelEnName != ''">
                and ch.channel_en_name LIKE CONCAT(CONCAT('%', #{channelEnName}), '%')
            </if>
            <if test="channelCnName != null and channelCnName != ''">
                and ch.channel_cn_name LIKE CONCAT(CONCAT('%', #{channelCnName}), '%')
            </if>
            <if test="transType != null and transType != ''">
                and ch.trans_type=#{transType}
            </if>
            <if test="payType != null and payType != ''">
                and ch.pay_type=#{payType}
            </if>
            <if test="enabled != null">
                and ch.enabled=#{enabled}
            </if>
            <if test="country != null and country != ''">
                and ch.country=#{country}
            </if>
            <if test="currency != null and currency != ''">
                and ch.currency=#{currency}
            </if>
            <if test="countryType != null and countryType != ''">
                and ch.country_type=#{countryType}
            </if>
        </where>
        order by ch.create_time DESC
    </select>

    <select id="getChannelById" resultMap="ChanProVOMap" resultType="String">
        select ch.channel_code           as channelCode,
               ch.remark                 as remark,
               ch.channel_en_name        as channelEnName,
               ch.channel_cn_name        as channelCnName,
               ch.issuer_id              as issuerId,
               ch.pay_code               as payCode,
               ch.channel_img            as channelImg,
               ch.country                as country,
               ch.country_type           as countryType,
               ch.trans_type             as transType,
               ch.sort                   as sort,
               ch.channel_connect_method as channelConnectMethod,
               ch.channel_merchant_id,
               ch.md5_key_str,
               ch.pay_type               as payType,
               ch.currency               as currency,
               ch.settle_cycle           as settleCycle,
               ch.channel_url            as channelUrl,
               ch.refund_url             as refundUrl,
               channel_single_select_url as channelSingleSelectUrl,
               channel_batch_select_url as channelBatchSelectUrl,
               ch.enabled               as enabled,
               ch.support_refund_state  as supportRefundState,
               p.id                     as productId,
               p.product_code           as productCode,
               p.trans_type             as p_transType,
               p.currency               as p_currency,
               ch.channel_rate,
               ch.channel_fee,
               ch.channel_min_rate,
               ch.channel_max_rate,
               ch.limit_min_amount      as limitMinAmount,
               ch.limit_max_amount      as limitMaxAmount,
               ch.channel_fee_type,
               ch.channel_gateway_rate,
               ch.channel_gateway_min_rate,
               ch.channel_gateway_max_rate,
               ch.channel_gateway_fee_type,
               ch.channel_gateway_charge,
               ch.channel_gateway_status,
               ch.channel_gateway_fee,
               b.id                     as bankID,
               b.bank_code              as bankCode,
               b.bank_name              as bankName,
               b.bank_country           as bankCountry,
               b.bank_currency          as bankCurrency
        from channel ch,
             product_channel pc,
             product p,
             channel_bank cb,
             bank b
        where ch.id = pc.channel_id
          and pc.product_id = p.id
          and ch.id = cb.channel_id
          and cb.bank_id = b.id
          and ch.id = #{channelId}
        order by ch.create_time DESC
    </select>

    <select id="getChannelByProductId" resultMap="BaseResultMap" resultType="String">
        select ch.channel_code, ch.channel_en_name, ch.channel_cn_name, ch.id
        from channel ch,
             product_channel pc
        where ch.id = pc.channel_id
          and pc.product_id = #{productId}
    </select>

    <select id="getChannelByInsIdAndProId" resultMap="BaseResultMap" resultType="String">
        select ch.channel_code, ch.channel_en_name, ch.channel_cn_name, ch.id
        from channel ch,
             product_channel pc
        where ch.id = pc.channel_id
          and pc.product_id = #{productId}
          and ch.id not in
              (select ic.channel_id
               from institution_product ip,
                    institution_channel ic
               where ip.institution_id = #{institutionId}
                 and ip.product_id = #{productId}
                 and ic.ins_pro_id = ip.id
              )
    </select>


    <select id="exportAllChannels" resultMap="ExportChannelMap">
        SELECT
        ch.channel_code AS channelCode,
        ch.channel_cn_name AS channelCnName,
        d.name AS payType,
        ch.currency AS currency,
        ch.channel_en_name AS channelEnName,
        ch.pay_code AS payCode,
        ch.settle_cycle AS settleCycle,
        ch.create_time AS createTime,
        ch.channel_rate AS channelRate,
        ch.support_refund_state,
        ch.sort,
        ch.limit_max_amount,
        ch.limit_min_amount,
        ch.channel_min_rate ,
        ch.channel_max_rate ,
        ch.channel_fee_type ,
        ch.update_time AS updateTime,
        ch.enabled AS enabled,
        ch.channel_connect_method AS channelConnectMethod,
        ch.creator AS creator,
        ch.modifier AS modifier,
        ch.remark AS remark,
        b.bank_name as bank_name
        from channel ch,
        dictionary d,
        channel_bank cb,
        bank b
        <where>
            ch.id = cb.channel_id
            and cb.bank_id = b.id
            and d.code = ch.pay_type
            and d.language=#{language}
            <if test="channelCode!=null and channelCode != ''">
                and ch.channel_code=#{channelCode}
            </if>
            <if test="channelEnName != null and channelEnName != ''">
                and ch.channel_en_name LIKE CONCAT(CONCAT('%', #{channelEnName}), '%')
            </if>
            <if test="channelCnName != null and channelCnName != ''">
                and ch.channel_cn_name LIKE CONCAT(CONCAT('%', #{channelCnName}), '%')
            </if>
            <if test="payType != null and payType != ''">
                and ch.pay_type=#{payType}
            </if>
            <if test="enabled != null">
                and ch.enabled=#{enabled}
            </if>
            <if test="currency != null and currency != ''">
                and ch.currency=#{currency}
            </if>
        </where>
        ORDER BY ch.create_time desc
    </select>

    <select id="getAllChannel" resultMap="BaseResultMap">
        select ch.id,
               ch.channel_code,
               ch.channel_en_name,
               ch.channel_cn_name,
               ch.channel_img,
               ch.country,
               ch.country_type,
               ch.trans_type,
               d.name as pay_type,
               ch.currency,
               ch.settle_cycle,
               ch.channel_url,
               ch.channel_single_select_url,
               ch.channel_batch_select_url,
               ch.limit_min_amount,
               ch.limit_max_amount,
               ch.create_time,
               ch.update_time,
               ch.creator,
               ch.sort,
               ch.issuer_id,
               ch.channel_connect_method,
               ch.channel_rate,
               ch.channel_fee,
               ch.channel_fee_type,
               channel_max_rate,
               ch.channel_min_rate,
               ch.channel_gateway_rate,
               ch.channel_gateway_fee,
               ch.channel_gateway_fee_type,
               ch.channel_gateway_charge,
               ch.channel_gateway_status,
               ch.channel_gateway_min_rate,
               ch.channel_gateway_max_rate,
               ch.modifier,
               ch.remark,
               ch.enabled,
               ch.support_refund_state,
               ch.refund_url,
               d.enabled
                      as d_enabled,
               ch.pay_code
        from channel ch
                 left join dictionary d on d.code = ch.pay_type and d.language = 'zh-cn' and ch.enabled = true
    </select>

</mapper>
