<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.institution.dao.ReconciliationMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.Reconciliation">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="refund_order_id" property="refundOrderId" jdbcType="VARCHAR"/>
        <result column="channel_number" property="channelNumber" jdbcType="VARCHAR"/>
        <result column="institution_order_id" property="institutionOrderId" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="order_currency" property="orderCurrency" jdbcType="VARCHAR"/>
        <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="trade_currency" property="tradeCurrency" jdbcType="VARCHAR"/>
        <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="status" property="sign" jdbcType="INTEGER"/>
        <result column="remark1" property="remark1" jdbcType="VARCHAR"/>
        <result column="remark2" property="remark2" jdbcType="VARCHAR"/>
        <result column="remark3" property="remark3" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="change_type" property="changeType" jdbcType="INTEGER"/>
        <result column="freeze_type" property="freezeType" jdbcType="INTEGER"/>
        <result column="account_type" property="accountType" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="secondResultMap" type="com.payment.common.vo.FrozenMarginInfoVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="trade_currency" property="currency" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="update_time" property="time" jdbcType="TIMESTAMP"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, refund_order_id, channel_number, institution_order_id, amount, order_currency,
    exchange_rate, trade_currency, trade_amount, sign,status, remark1, remark2, remark3, create_time,
    update_time, creator, modifier, remark,change_type,freeze_type,account_type
    </sql>

    <select id="pageFrozenLogs" resultMap="secondResultMap">
        SELECT id,
               trade_currency,
               amount,
               status,
               update_time,
               remark
        from reconciliation
        where institution_order_id = #{accountId}
          and status in (5, 8)
          and trade_currency = #{currency}
          and account_type = #{accountType}
        order by create_time desc
    </select>

    <select id="getFrozenMarginList" resultType="com.payment.common.vo.FrozenMarginListVO">
        select SUM(amount) as amount, order_currency, institution_order_id, account_type
        from reconciliation
        WHERE `status` in (5, 8)
        GROUP BY order_currency, account_type, institution_order_id
        HAVING account_type in (1, 2)
    </select>


</mapper>
