<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.permission.dao.DeviceModelMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.DeviceModel">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="vendor_id" property="vendorId" jdbcType="VARCHAR"/>
        <result column="device_type" property="deviceType" jdbcType="VARCHAR"/>
        <result column="device_name" property="deviceName" jdbcType="VARCHAR"/>
        <result column="ram" property="ram" jdbcType="VARCHAR"/>
        <result column="system" property="system" jdbcType="VARCHAR"/>
        <result column="network" property="network" jdbcType="VARCHAR"/>
        <result column="printer" property="printer" jdbcType="VARCHAR"/>
        <result column="resolution_ratio" property="resolutionRatio" jdbcType="VARCHAR"/>
        <result column="access_permit" property="accessPermit" jdbcType="VARCHAR"/>
        <result column="card_reader" property="cardReader" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="NewResultMap" type="com.payment.common.vo.DeviceModelVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="vendor_id" property="vendorId" jdbcType="VARCHAR"/>
        <result column="vendor_name" property="vendorName" jdbcType="VARCHAR"/>
        <result column="device_type" property="deviceType" jdbcType="VARCHAR"/>
        <result column="device_name" property="deviceName" jdbcType="VARCHAR"/>
        <result column="ram" property="ram" jdbcType="VARCHAR"/>
        <result column="system" property="system" jdbcType="VARCHAR"/>
        <result column="network" property="network" jdbcType="VARCHAR"/>
        <result column="printer" property="printer" jdbcType="VARCHAR"/>
        <result column="resolution_ratio" property="resolutionRatio" jdbcType="VARCHAR"/>
        <result column="access_permit" property="accessPermit" jdbcType="VARCHAR"/>
        <result column="card_reader" property="cardReader" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, vendor_id, device_type, device_name, ram, system, network, printer, resolution_ratio,
    access_permit, card_reader, enabled, create_time, update_time, creator, modifier,
    remark
    </sql>


    <select id="selectByModelName" resultType="java.lang.String">
        select id
        from device_model
        where device_name = #{name}
        LIMIT 1;
    </select>
</mapper>
