<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.permission.dao.DeviceVendorMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.DeviceVendor">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="vendor_cn_name" property="vendorCnName" jdbcType="VARCHAR"/>
        <result column="vendor_en_name" property="vendorEnName" jdbcType="VARCHAR"/>
        <result column="business_contact" property="businessContact" jdbcType="VARCHAR"/>
        <result column="contact_information" property="contactInformation" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, vendor_cn_name, vendor_en_name, business_contact, contact_information, enabled,
    create_time, update_time, creator, modifier, remark
    </sql>


    <select id="selectByVendorName" resultType="java.lang.String">
        select id
        from device_vendor
        where vendor_cn_name = #{name};
    </select>

</mapper>
