<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.task.dao.TcsStFlowMapper" >
  <resultMap id="BaseResultMap" type="com.payment.common.entity.TcsStFlow" >
    <id column="STFlow" property="STFlow" jdbcType="VARCHAR" />
    <id column="refcnceFlow" property="refcnceFlow" jdbcType="VARCHAR" />
    <result column="tradetype" property="tradetype" jdbcType="VARCHAR" />
    <result column="merchantid" property="merchantid" jdbcType="VARCHAR" />
    <result column="merOrderNo" property="merOrderNo" jdbcType="VARCHAR" />
    <result column="txncurrency" property="txncurrency" jdbcType="VARCHAR" />
    <result column="txnamount" property="txnamount" jdbcType="DOUBLE" />
    <result column="fee" property="fee" jdbcType="DOUBLE" />
    <result column="feecurrency" property="feecurrency" jdbcType="VARCHAR" />
    <result column="channelCost" property="channelCost" jdbcType="DOUBLE" />
    <result column="channelcostcurrency" property="channelcostcurrency" jdbcType="VARCHAR" />
    <result column="revokemount" property="revokemount" jdbcType="DOUBLE" />
    <result column="businessType" property="businessType" jdbcType="INTEGER" />
    <result column="balancetype" property="balancetype" jdbcType="INTEGER" />
    <result column="mbuaccountId" property="mbuaccountId" jdbcType="VARCHAR" />
    <result column="accountNo" property="accountNo" jdbcType="VARCHAR" />
    <result column="STstate" property="STstate" jdbcType="INTEGER" />
    <result column="shouldSTtime" property="shouldSTtime" jdbcType="DATE" />
    <result column="actualSTtime" property="actualSTtime" jdbcType="TIMESTAMP" />
    <result column="sysorderid" property="sysorderid" jdbcType="VARCHAR" />
    <result column="addDatetime" property="addDatetime" jdbcType="TIMESTAMP" />
    <result column="txndesc" property="txndesc" jdbcType="VARCHAR" />
    <result column="sltamount" property="sltamount" jdbcType="DOUBLE" />
    <result column="sltcurrency" property="sltcurrency" jdbcType="VARCHAR" />
    <result column="txnexrate" property="txnexrate" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gatewayFee" property="gatewayFee" jdbcType="DOUBLE" />
    <result column="organId" property="organId" jdbcType="VARCHAR" />
    <result column="needClear" property="needClear" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    STFlow, refcnceFlow, tradetype, merchantid, merOrderNo, txncurrency, txnamount, fee,
    feecurrency, channelCost, channelcostcurrency, revokemount, businessType, balancetype,
    mbuaccountId, accountNo, STstate, shouldSTtime, actualSTtime, sysorderid, addDatetime,
    txndesc, sltamount, sltcurrency, txnexrate, remark, gatewayFee, organId, needClear
  </sql>
  <select id="getTcsStFlows" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tcs_stflow where shouldSTtime = #{shouldSTtime} and STstate=1
  </select>

</mapper>
