<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.clearing.dao.TcsStFlowMapper" >
  <resultMap id="BaseResultMap" type="com.payment.common.entity.TcsStFlow" >
    <id column="STFlow" property="STFlow" jdbcType="VARCHAR" />
    <id column="refcnceFlow" property="refcnceFlow" jdbcType="VARCHAR" />
    <result column="tradetype" property="tradetype" jdbcType="VARCHAR" />
    <result column="merchantid" property="merchantid" jdbcType="VARCHAR" />
    <result column="merOrderNo" property="merOrderNo" jdbcType="VARCHAR" />
    <result column="txncurrency" property="txncurrency" jdbcType="VARCHAR" />
    <result column="txnamount" property="txnamount" jdbcType="DOUBLE" />
    <result column="fee" property="fee" jdbcType="DOUBLE" />
    <result column="feecurrency" property="feecurrency" jdbcType="VARCHAR" />
    <result column="channelCost" property="channelCost" jdbcType="DOUBLE" />
    <result column="channelcostcurrency" property="channelcostcurrency" jdbcType="VARCHAR" />
    <result column="revokemount" property="revokemount" jdbcType="DOUBLE" />
    <result column="businessType" property="businessType" jdbcType="INTEGER" />
    <result column="balancetype" property="balancetype" jdbcType="INTEGER" />
    <result column="mbuaccountId" property="mbuaccountId" jdbcType="VARCHAR" />
    <result column="accountNo" property="accountNo" jdbcType="VARCHAR" />
    <result column="STstate" property="STstate" jdbcType="INTEGER" />
    <result column="shouldSTtime" property="shouldSTtime" jdbcType="DATE" />
    <result column="actualSTtime" property="actualSTtime" jdbcType="TIMESTAMP" />
    <result column="sysorderid" property="sysorderid" jdbcType="VARCHAR" />
    <result column="addDatetime" property="addDatetime" jdbcType="TIMESTAMP" />
    <result column="txndesc" property="txndesc" jdbcType="VARCHAR" />
    <result column="sltamount" property="sltamount" jdbcType="DOUBLE" />
    <result column="sltcurrency" property="sltcurrency" jdbcType="VARCHAR" />
    <result column="txnexrate" property="txnexrate" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gatewayFee" property="gatewayFee" jdbcType="DOUBLE" />
    <result column="organId" property="organId" jdbcType="VARCHAR" />
    <result column="needClear" property="needClear" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    STFlow, refcnceFlow, tradetype, merchantid, merOrderNo, txncurrency, txnamount, fee,
    feecurrency, channelCost, channelcostcurrency, revokemount, businessType, balancetype,
    mbuaccountId, accountNo, STstate, shouldSTtime, actualSTtime, sysorderid, addDatetime,
    txndesc, sltamount, sltcurrency, txnexrate, remark, gatewayFee, organId, needClear
  </sql>
    <select id="selectList" resultMap="BaseResultMap">

      select   <include refid="Base_Column_List"></include>
      from tcs_stflow  where 1 = 1
      <if test="STFlow != null">
        and STFlow=#{STFlow,jdbcType=VARCHAR}
      </if>
      <if test="refcnceFlow != null">
        and refcnceFlow = #{refcnceFlow,jdbcType=VARCHAR}
      </if>
      <if test="tradetype != null">
        and tradetype = #{tradetype,jdbcType=VARCHAR}
      </if>
      <if test="merchantid != null">
        and merchantid = #{merchantid,jdbcType=VARCHAR}
      </if>
      <if test="merOrderNo != null">
        and merOrderNo = #{merOrderNo,jdbcType=VARCHAR}
      </if>
      <if test="txncurrency != null">
        and txncurrency = #{txncurrency,jdbcType=VARCHAR}
      </if>
      <if test="businessType != null  and businessType !=0  ">
        and  businessType = #{businessType,jdbcType=INTEGER}
      </if>
      <if test="balancetype != null  and balancetype !=0  ">
        and  balancetype = #{balancetype,jdbcType=INTEGER}
      </if>
      <if test="mbuaccountId != null">
        and mbuaccountId = #{mbuaccountId,jdbcType=VARCHAR}
      </if>
      <if test="accountNo != null">
        and accountNo = #{accountNo,jdbcType=VARCHAR}
      </if>
      <if test="STstate != null and STstate !=0 ">
        and STstate = #{STstate,jdbcType=INTEGER}
      </if>
      <if test="shouldSTtime != null">
        and shouldSTtime  &lt;= #{shouldSTtime,jdbcType=DATE}
      </if>
      <if test="actualSTtime != null">
        and actualSTtime = #{actualSTtime,jdbcType=TIMESTAMP}
      </if>
      <if test="sysorderid != null">
        and sysorderid = #{sysorderid,jdbcType=VARCHAR}
      </if>
      <if test="addDatetime != null">
        and addDatetime = #{addDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="txndesc != null and txndesc !=''  ">
        and txndesc = #{txndesc,jdbcType=VARCHAR}
      </if>
      <if test="remark != null and remark !=''  ">
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="feecurrency != null">
        and feecurrency=#{feecurrency,jdbcType=VARCHAR}
      </if>
      <if test="sltcurrency != null">
        and sltcurrency=#{sltcurrency,jdbcType=VARCHAR}
      </if>
      <if test="channelcostcurrency != null">
        and  channelcostcurrency=#{channelcostcurrency,jdbcType=VARCHAR}
      </if>
      <if test="organId != null">
        and organId=#{organId,jdbcType=VARCHAR}
      </if>
      <if test="needClear != null and needClear !=0">
        and needClear = #{needClear,jdbcType=INTEGER}
      </if>
      order by addDatetime asc
    </select>

</mapper>
