<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.finance.dao.SettleOrderMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.SettleOrder">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="batch_no" property="batchNo" jdbcType="VARCHAR"/>
        <result column="institution_code" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="txncurrency" property="txncurrency" jdbcType="VARCHAR"/>
        <result column="txnamount" property="txnamount" jdbcType="DECIMAL"/>
        <result column="account_code" property="accountCode" jdbcType="VARCHAR"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="bank_name" property="bankName" jdbcType="VARCHAR"/>
        <result column="swift_code" property="swiftCode" jdbcType="VARCHAR"/>
        <result column="iban" property="iban" jdbcType="VARCHAR"/>
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR"/>
        <result column="bank_currency" property="bankCurrency" jdbcType="VARCHAR"/>
        <result column="bankcode_currency" property="bankCodeCurrency" jdbcType="VARCHAR"/>
        <result column="trade_status" property="tradeStatus" jdbcType="TINYINT"/>
        <result column="trade_fee" property="tradeFee" jdbcType="DECIMAL"/>
        <result column="fee_currency" property="feeCurrency" jdbcType="VARCHAR"/>
        <result column="rate" property="rate" jdbcType="DECIMAL"/>
        <result column="settle_amount" property="settleAmount" jdbcType="DECIMAL"/>
        <result column="total_settle_amount" property="totalSettleAmount" jdbcType="DECIMAL"/>
        <result column="settle_channel" property="settleChannel" jdbcType="VARCHAR"/>
        <result column="intermediary_bank_code" property="intermediaryBankCode" jdbcType="VARCHAR"/>
        <result column="intermediary_bank_name" property="intermediaryBankName" jdbcType="VARCHAR"/>
        <result column="intermediary_bank_address" property="intermediaryBankAddress" jdbcType="VARCHAR"/>
        <result column="intermediary_bank_account_no" property="intermediaryBankAccountNo" jdbcType="VARCHAR"/>
        <result column="intermediary_bank_country" property="intermediaryBankCountry" jdbcType="VARCHAR"/>
        <result column="intermediary_other_code" property="intermediaryOtherCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,batch_no, institution_code, institution_name, txncurrency, txnamount, account_code, account_name,
    bank_name, swift_code, iban, bank_code, bank_currency, bankcode_currency,trade_status, trade_fee, fee_currency,
    rate, settle_amount,total_settle_amount, settle_channel,intermediary_bank_code,intermediary_bank_name,intermediary_bank_address,
    intermediary_bank_account_no,intermediary_bank_country,intermediary_other_code,create_time, update_time, creator, modifier, remark
    </sql>

    <select id="pageSettleOrder" resultMap="BaseResultMap"
            resultType="com.payment.common.dto.SettleOrderDTO">
        select
        batch_no,institution_code,institution_name,account_code,account_name,bank_name,bankcode_currency,trade_status,
        rate, settle_amount,fee_currency,trade_fee,
        total_settle_amount,settle_channel,create_time, update_time, creator, modifier, remark
        from settle_order
        <where>
            <if test="startDate!=null and startDate != ''">
                AND create_time &gt;= #{startDate}
            </if>
            <if test="endDate!=null and endDate != ''">
                AND create_time &lt;= #{endDate}
            </if>
            <if test="batchNo!=null and batchNo != ''">
                and batch_no=#{batchNo}
            </if>
            <if test="institutionCode!=null and institutionCode != ''">
                and institution_code=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="accountCode!=null and accountCode != ''">
                and account_code=#{accountCode}
            </if>
            <if test="bankCodeCurrency!=null and bankCodeCurrency != ''">
                and bankcode_currency=#{bankCodeCurrency}
            </if>
            <if test="tradeStatus!=null">
                and trade_status=#{tradeStatus}
            </if>
        </where>
        group by batch_no
    </select>

    <select id="pageSettleOrderDetail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from settle_order
        <where>
            <if test="startDate!=null and startDate != ''">
                AND create_time &gt;= #{startDate}
            </if>
            <if test="endDate!=null and endDate != ''">
                AND create_time &lt;= #{endDate}
            </if>
            <if test="id!=null and id != ''">
                and id=#{id}
            </if>
            <if test="batchNo!=null and batchNo != ''">
                and batch_no=#{batchNo}
            </if>
            <if test="institutionCode!=null and institutionCode != ''">
                and institution_code=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="txncurrency!=null and txncurrency != ''">
                and txncurrency=#{txncurrency}
            </if>
            <if test="accountCode!=null and accountCode != ''">
                and account_code=#{accountCode}
            </if>
            <if test="bankCurrency!=null and bankCurrency != ''">
                and bank_currency=#{bankCurrency}
            </if>
            <if test="bankCodeCurrency!=null and bankCodeCurrency != ''">
                and bankcode_currency=#{bankCodeCurrency}
            </if>
            <if test="tradeStatus!=null">
                and trade_status=#{tradeStatus}
            </if>
        </where>
        order by batch_no desc
    </select>

    <select id="exportSettleOrderInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from settle_order
        <where>
            <if test="startDate!=null and startDate != ''">
                AND create_time &gt;= #{startDate}
            </if>
            <if test="endDate!=null and endDate != ''">
                AND create_time &lt;= #{endDate}
            </if>
            <if test="id!=null and id != ''">
                and id=#{id}
            </if>
            <if test="batchNo!=null and batchNo != ''">
                and batch_no=#{batchNo}
            </if>
            <if test="institutionCode!=null and institutionCode != ''">
                and institution_code=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="txncurrency!=null and txncurrency != ''">
                and txncurrency=#{txncurrency}
            </if>
            <if test="accountCode!=null and accountCode != ''">
                and account_code=#{accountCode}
            </if>
            <if test="bankCurrency!=null and bankCurrency != ''">
                and bank_currency=#{bankCurrency}
            </if>
            <if test="bankCodeCurrency!=null and bankCodeCurrency != ''">
                and bankcode_currency=#{bankCodeCurrency}
            </if>
            <if test="tradeStatus!=null">
                and trade_status=#{tradeStatus}
            </if>
        </where>
        order by batch_no desc,create_time desc
    </select>

    <select id="pageSettleOrderQuery" resultMap="BaseResultMap"
            resultType="com.payment.common.dto.SettleOrderDTO">
        select
        <include refid="Base_Column_List"/>
        from settle_order
        <where>
            <if test="startDate!=null and startDate != ''">
                AND create_time &gt;= #{startDate}
            </if>
            <if test="endDate!=null and endDate != ''">
                AND create_time &lt;= #{endDate}
            </if>
            <if test="id!=null and id != ''">
                and id=#{id}
            </if>
            <if test="batchNo!=null and batchNo != ''">
                and batch_no=#{batchNo}
            </if>
            <if test="institutionCode!=null and institutionCode != ''">
                and institution_code=#{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="txncurrency!=null and txncurrency != ''">
                and txncurrency=#{txncurrency}
            </if>
            <if test="accountCode!=null and accountCode != ''">
                and account_code=#{accountCode}
            </if>
            <if test="bankCurrency!=null and bankCurrency != ''">
                and bank_currency=#{bankCurrency}
            </if>
            <if test="bankCodeCurrency!=null and bankCodeCurrency != ''">
                and bankcode_currency=#{bankCodeCurrency}
            </if>
            and trade_status in (2,3)
        </where>
        order by create_time desc
    </select>
</mapper>
