<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.trade.dao.AttestationMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.Attestation">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institution_code" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="md5key" property="md5key" jdbcType="LONGVARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="pubkey" property="pubkey" jdbcType="LONGVARCHAR"/>
        <result column="prikey" property="prikey" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="selectByInstitutionCode" resultMap="BaseResultMap">
        SELECT id,
               institution_code,
               pubkey,
               prikey,
               md5key,
               type,
               enabled,
               create_time,
               update_time,
               creator,
               modifier,
               remark
        FROM attestation
        WHERE institution_code = #{institutionCode}
          AND enabled = 1;
    </select>

    <select id="selectPlatformInfo" resultType="com.payment.common.entity.Attestation">
        select id,
               institution_code,
               pubkey,
               prikey,
               md5key,
               type,
               enabled,
               create_time,
               update_time,
               creator,
               modifier,
               remark
        from attestation
        where type = 3
          and enabled = 1;
    </select>
</mapper>
