<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.trade.dao.InstitutionChannelMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.InstitutionChannel">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="ins_pro_id" property="insProId" jdbcType="VARCHAR"/>
        <result column="channel_id" property="channelId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, ins_pro_id, channel_id, create_time, update_time, creator, modifier, remark,enabled,sort
    </sql>
</mapper>
