<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.trade.dao.OrderPaymentMapper">
    <resultMap id="BaseResultMap" type="com.payment.common.entity.OrderPayment">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institution_code" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="institution_order_time" property="institutionOrderTime" jdbcType="TIMESTAMP"/>
        <result column="institution_order_id" property="institutionOrderId" jdbcType="VARCHAR"/>
        <result column="institution_batch_no" property="institutionBatchNo" jdbcType="VARCHAR"/>
        <result column="system_batch_no" property="systemBatchNo" jdbcType="VARCHAR"/>
        <result column="channel_batch_no" property="channelBatchNo" jdbcType="VARCHAR"/>
        <result column="trade_currency" property="tradeCurrency" jdbcType="VARCHAR"/>
        <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="payment_currency" property="paymentCurrency" jdbcType="VARCHAR"/>
        <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_number" property="bankAccountNumber" jdbcType="VARCHAR"/>
        <result column="receiver_country" property="receiverCountry" jdbcType="VARCHAR"/>
        <result column="receiver_adress" property="receiverAdress" jdbcType="VARCHAR"/>
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR"/>
        <result column="swift_code" property="swiftCode" jdbcType="VARCHAR"/>
        <result column="old_exchange_rate" property="oldExchangeRate" jdbcType="DECIMAL"/>
        <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="exchange_time" property="exchangeTime" jdbcType="TIMESTAMP"/>
        <result column="exchange_status" property="exchangeStatus" jdbcType="TINYINT"/>
        <result column="product_code" property="productCode" jdbcType="INTEGER"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
        <result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
        <result column="channel_number" property="channelNumber" jdbcType="VARCHAR"/>
        <result column="payout_status" property="payoutStatus" jdbcType="TINYINT"/>
        <result column="rate_type" property="rateType" jdbcType="VARCHAR"/>
        <result column="rate" property="rate" jdbcType="DECIMAL"/>
        <result column="fee" property="fee" jdbcType="DECIMAL"/>
        <result column="fee_payer" property="feePayer" jdbcType="TINYINT"/>
        <result column="charge_status" property="chargeStatus" jdbcType="TINYINT"/>
        <result column="charge_time" property="chargeTime" jdbcType="TIMESTAMP"/>
        <result column="pay_method" property="payMethod" jdbcType="VARCHAR"/>
        <result column="req_ip" property="reqIp" jdbcType="VARCHAR"/>
        <result column="report_channel_time" property="reportChannelTime" jdbcType="TIMESTAMP"/>
        <result column="channel_callback_time" property="channelCallbackTime" jdbcType="TIMESTAMP"/>
        <result column="float_rate" property="floatRate" jdbcType="DECIMAL"/>
        <result column="add_value" property="addValue" jdbcType="DECIMAL"/>
        <result column="server_url" property="serverUrl" jdbcType="VARCHAR"/>
        <result column="browser_url" property="browserUrl" jdbcType="VARCHAR"/>
        <result column="md5key" property="md5key" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="extend1" property="extend1" jdbcType="VARCHAR"/>
        <result column="extend2" property="extend2" jdbcType="VARCHAR"/>
        <result column="extend3" property="extend3" jdbcType="VARCHAR"/>
        <result column="extend4" property="extend4" jdbcType="BIT"/>
        <result column="extend5" property="extend5" jdbcType="VARCHAR"/>
        <result column="extend6" property="extend6" jdbcType="VARCHAR"/>
        <result column="extend7" property="extend7" jdbcType="VARCHAR"/>
        <result column="extend8" property="extend8" jdbcType="VARCHAR"/>
        <result column="extend9" property="extend9" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="OrderPaymentDetailVOMap" type="com.payment.common.vo.OrderPaymentDetailVO">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="institution_code" property="institutionCode" jdbcType="VARCHAR"/>
        <result column="institution_name" property="institutionName" jdbcType="VARCHAR"/>
        <result column="institution_order_time" property="institutionOrderTime" jdbcType="TIMESTAMP"/>
        <result column="institution_order_id" property="institutionOrderId" jdbcType="VARCHAR"/>
        <result column="institution_batch_no" property="institutionBatchNo" jdbcType="VARCHAR"/>
        <result column="system_batch_no" property="systemBatchNo" jdbcType="VARCHAR"/>
        <result column="channel_batch_no" property="channelBatchNo" jdbcType="VARCHAR"/>
        <result column="trade_currency" property="tradeCurrency" jdbcType="VARCHAR"/>
        <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="payment_currency" property="paymentCurrency" jdbcType="VARCHAR"/>
        <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL"/>
        <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR"/>
        <result column="bank_account_number" property="bankAccountNumber" jdbcType="VARCHAR"/>
        <result column="receiver_country" property="receiverCountry" jdbcType="VARCHAR"/>
        <result column="receiver_adress" property="receiverAdress" jdbcType="VARCHAR"/>
        <result column="bank_code" property="bankCode" jdbcType="VARCHAR"/>
        <result column="swift_code" property="swiftCode" jdbcType="VARCHAR"/>
        <result column="old_exchange_rate" property="oldExchangeRate" jdbcType="DECIMAL"/>
        <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL"/>
        <result column="exchange_time" property="exchangeTime" jdbcType="TIMESTAMP"/>
        <result column="exchange_status" property="exchangeStatus" jdbcType="TINYINT"/>
        <result column="product_code" property="productCode" jdbcType="INTEGER"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="channel_code" property="channelCode" jdbcType="VARCHAR"/>
        <result column="channel_name" property="channelName" jdbcType="VARCHAR"/>
        <result column="channel_number" property="channelNumber" jdbcType="VARCHAR"/>
        <result column="payout_status" property="payoutStatus" jdbcType="TINYINT"/>
        <result column="rate_type" property="rateType" jdbcType="VARCHAR"/>
        <result column="rate" property="rate" jdbcType="DECIMAL"/>
        <result column="fee" property="fee" jdbcType="DECIMAL"/>
        <result column="fee_payer" property="feePayer" jdbcType="TINYINT"/>
        <result column="charge_status" property="chargeStatus" jdbcType="TINYINT"/>
        <result column="charge_time" property="chargeTime" jdbcType="TIMESTAMP"/>
        <result column="pay_method" property="payMethod" jdbcType="VARCHAR"/>
        <result column="req_ip" property="reqIp" jdbcType="VARCHAR"/>
        <result column="report_channel_time" property="reportChannelTime" jdbcType="TIMESTAMP"/>
        <result column="channel_callback_time" property="channelCallbackTime" jdbcType="TIMESTAMP"/>
        <result column="float_rate" property="floatRate" jdbcType="DECIMAL"/>
        <result column="add_value" property="addValue" jdbcType="DECIMAL"/>
        <result column="server_url" property="serverUrl" jdbcType="VARCHAR"/>
        <result column="browser_url" property="browserUrl" jdbcType="VARCHAR"/>
        <result column="md5key" property="md5key" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="extend1" property="extend1" jdbcType="VARCHAR"/>
        <result column="extend2" property="extend2" jdbcType="VARCHAR"/>
        <result column="extend3" property="extend3" jdbcType="VARCHAR"/>
        <result column="extend4" property="extend4" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, institution_code, institution_name, institution_order_time, institution_order_id,
    institution_batch_no, system_batch_no, channel_batch_no,trade_currency, trade_amount, payment_currency,
    payment_amount, bank_account_name, bank_account_number, receiver_country, receiver_adress,
    bank_code, swift_code, old_exchange_rate, exchange_rate, exchange_time, exchange_status,
    product_code, product_name, channel_code, channel_name, channel_number, payout_status,
    rate_type, rate, fee, fee_payer, charge_status, charge_time, pay_method, req_ip,
    report_channel_time, channel_callback_time, float_rate, add_value, server_url, browser_url,
    sign, md5key,extend1, extend2, extend3, extend4, extend5, extend6, extend7, extend8, extend9,
    create_time, update_time, creator, modifier, remark
  </sql>


    <select id="pageFindOrderPayment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_payment
        <where>
            <if test="institutionOrderId != null and institutionOrderId != ''">
                AND institution_order_id = #{institutionOrderId}
            </if>
            <if test="institutionCode != null and institutionCode != ''">
                AND institution_code = #{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name LIKE CONCAT(CONCAT('%', #{institutionName}), '%')
            </if>
            <if test="bankAccountName != null and bankAccountName != ''">
                AND bank_account_name = #{bankAccountName}
            </if>
            <if test="tradeCurrency != null and tradeCurrency != ''">
                AND trade_currency = #{tradeCurrency}
            </if>
            <if test="channelName != null and channelName != ''">
                AND channel_name = #{channelName}
            </if>
            <if test="startDate != null and startDate != ''">
                AND create_time &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND create_time &lt;= #{endDate}
            </if>
            <if test="payoutStatus != null and payoutStatus != ''">
                AND payout_status = #{payoutStatus}
            </if>
            <if test="institutionBatchNo != null and institutionBatchNo != ''">
                AND institution_batch_no = #{institutionBatchNo}
            </if>
            <if test="cardholder != null and cardholder != ''">
                AND extend2 = #{cardholder}
            </if>
            <if test="isArtificial != null">
                AND extend4 = #{isArtificial}
            </if>
        </where>
    </select>

    <select id="getOrderPaymentDetail" resultMap="OrderPaymentDetailVOMap">
        select
        o.id , o.institution_code, o.institution_name, o.institution_order_time, o.institution_order_id,
        o.institution_batch_no, o.system_batch_no, o.channel_batch_no,o.trade_currency, o.trade_amount, o.payment_currency,
        o.payment_amount, o.bank_account_name, o.bank_account_number, o.receiver_country, o.receiver_adress,
        o.bank_code, o.swift_code, o.old_exchange_rate, o.exchange_rate, o.exchange_time, o.exchange_status,
        o.product_code,concat(d.name,"-",p.currency) as product_name,
        o.channel_code, o.channel_name, o.channel_number, o.payout_status,
        o.rate_type, o.rate, o.fee, o.fee_payer, o.charge_status, o.charge_time, o.pay_method, o.req_ip,
        o.report_channel_time, o.channel_callback_time, o.float_rate, o.add_value, o.server_url, o.browser_url,
        o.sign, o.md5key,o.extend1, o.extend2, o.extend3, o.extend4, o.create_time, o.update_time
        from order_payment o left join product p on p.product_code = o.product_code
         left join  dictionary d on p.pay_type = d.code
         where o.id= #{orderPaymentId} and d.language = #{language}
    </select>

    <select id="exportOrderPayment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_payment
        <where>
            <if test="institutionOrderId != null and institutionOrderId != ''">
                AND institution_order_id = #{institutionOrderId}
            </if>
            <if test="institutionCode != null and institutionCode != ''">
                AND institution_code = #{institutionCode}
            </if>
            <if test="institutionName != null and institutionName != ''">
                AND institution_name = #{institutionName}
            </if>
            <if test="bankAccountName != null and bankAccountName != ''">
                AND bank_account_name = #{bankAccountName}
            </if>
            <if test="tradeCurrency != null and tradeCurrency != ''">
                AND trade_currency = #{tradeCurrency}
            </if>
            <if test="channelName != null and channelName != ''">
                AND channel_name = #{channelName}
            </if>
            <if test="startDate != null and startDate != ''">
                AND create_time &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND create_time &lt;= #{endDate}
            </if>
            <if test="payoutStatus != null and payoutStatus != ''">
                AND payout_status &lt;= #{payoutStatus}
            </if>
            <if test="institutionBatchNo != null and institutionBatchNo != ''">
                AND institution_batch_no = #{institutionBatchNo}
            </if>
            <if test="cardholder != null and cardholder != ''">
                AND extend2 = #{cardholder}
            </if>
            <if test="isArtificial != null">
                AND extend4 = #{isArtificial}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
