<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.payment.trade.dao.TcsCtFlowMapper" >
  <resultMap id="BaseResultMap" type="com.payment.common.entity.TcsCtFlow" >
    <id column="CTFlow" property="CTFlow" jdbcType="VARCHAR" />
    <id column="refcnceFlow" property="refcnceFlow" jdbcType="VARCHAR" />
    <result column="tradetype" property="tradetype" jdbcType="VARCHAR" />
    <result column="merchantid" property="merchantid" jdbcType="VARCHAR" />
    <result column="merOrderNo" property="merOrderNo" jdbcType="VARCHAR" />
    <result column="txncurrency" property="txncurrency" jdbcType="VARCHAR" />
    <result column="txnamount" property="txnamount" jdbcType="DOUBLE" />
    <result column="revokemount" property="revokemount" jdbcType="DOUBLE" />
    <result column="businessType" property="businessType" jdbcType="INTEGER" />
    <result column="balancetype" property="balancetype" jdbcType="INTEGER" />
    <result column="CTstate" property="CTstate" jdbcType="INTEGER" />
    <result column="shouldCTtime" property="shouldCTtime" jdbcType="TIMESTAMP" />
    <result column="actualCTtime" property="actualCTtime" jdbcType="TIMESTAMP" />
    <result column="sysorderid" property="sysorderid" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DOUBLE" />
    <result column="feecurrency" property="feecurrency" jdbcType="VARCHAR" />
    <result column="channelCost" property="channelCost" jdbcType="DOUBLE" />
    <result column="channelcostcurrency" property="channelcostcurrency" jdbcType="VARCHAR" />
    <result column="addDatetime" property="addDatetime" jdbcType="TIMESTAMP" />
    <result column="txndesc" property="txndesc" jdbcType="VARCHAR" />
    <result column="sltamount" property="sltamount" jdbcType="DOUBLE" />
    <result column="sltcurrency" property="sltcurrency" jdbcType="VARCHAR" />
    <result column="txnexrate" property="txnexrate" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gatewayFee" property="gatewayFee" jdbcType="DOUBLE" />
    <result column="organId" property="organId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CTFlow, refcnceFlow, tradetype, merchantid, merOrderNo, txncurrency, txnamount, revokemount,
    businessType, balancetype, CTstate, shouldCTtime, actualCTtime, sysorderid, fee,
    feecurrency, channelCost, channelcostcurrency, addDatetime, txndesc, sltamount, sltcurrency,
    txnexrate, remark, gatewayFee, organId
  </sql>

</mapper>
